# Ścieżka do katalogu z danymi (względem głównego katalogu projektu)
DATA_DIR=data

# Google Drive file ID lub pełen URL do pliku
# (np. dla linku https://drive.google.com/file/d/XXXXX/view?usp=sharing → XXXXX)
GDRIVE_FILE_ID=1T6CFe5_Pewz4VyHCRxapeZaMnqp0n012
